body{
	background-color:#B0E0E6;
}
h1
{
	background-color:#0000CD;
  text-align:left;
}
.div1
{
	background-color:#B0C4DE;
  text-align: left;
}
.div2
{
	background-color:#B0E0E6;
  text-align: left;
}
.div3
{
	background-color:#B0C4DE;
  text-align: left;
}